
attr==0.3.2
ConfigParser==7.2.0
cryptography==42.0.8
Cython==3.0.12
Django==4.2.18
dl==0.1.0
docutils==0.21.2
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.6
jnius==1.1.0
keyring==25.6.0
lockfile==0.12.2
numpy==2.2.4
Pillow==11.1.0
protobuf==6.30.1
pyOpenSSL==25.0.0
pywin32==308
railroad==0.5.0
Sphinx==8.2.3
thread==2.0.5
tornado==6.4.1
trove_classifiers==2025.3.13.13
truststore==0.10.1
urllib3_secure_extra==0.1.0
xhtml2pdf==0.2.16
xmlrpclib==1.0.1
=======
Django==4.2.18
gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.0.0
pillow==10.0.0
django-crispy-forms==2.0
djangorestframework==3.14.0
pyodbc
mssql-django

